<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Gestión de Tareas</a>

		<!-- Nombre de usuario -->
		<span class="nav-username navbar-text text-white ms-auto">
			Bienvenido, {{ username }}
		</span>

		<!-- Botón de Cerrar Sesión -->
		<button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
	</div>
</nav>
<div class="container">
    <button (click)="preCreateTask()" id="btnNewTask" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskModal">
        Crear Nueva Tarea
    </button>

    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">
                        {{ task.id ? 'Editar Tarea' : 'Crear Nueva Tarea' }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
                        <div class="mb-3">
                            <label for="title" class="form-label">Título</label>
                            <input type="text" id="title" [(ngModel)]="task.title" name="title" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea id="description" [(ngModel)]="task.description" name="description" class="form-control" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="status" class="form-label">Estado</label>
                            <select id="status" [(ngModel)]="task.status" name="status" class="form-control" required>
                                <option *ngFor="let status of taskStatuses" [value]="status">
                                    {{ status }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="priority" class="form-label">Prioridad</label>
                            <select id="priority" [(ngModel)]="task.priority" name="priority" class="form-control"
                                    required>
                                <option *ngFor="let priority of taskPriorities" [value]="priority">
                                    {{ priority }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="dueDate" class="form-label">Fecha de vencimiento</label>
                            <input type="date" id="dueDate" [(ngModel)]="task.dueDate" name="dueDate" class="form-control" required />
                        </div>

                        <button type="submit" class="btn btn-primary">
                            {{ task.id ? 'Actualizar Tarea' : 'Crear Tarea' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Filtro de búsqueda -->
    <form (submit)="searchTasks()" class="d-flex align-items-center gap-2 mb-3">
        <input type="text" [(ngModel)]="searchParams.title" name="title" class="form-control" placeholder="Buscar por título" />
        
        <select [(ngModel)]="searchParams.status" name="status" class="form-select">
            <option value="">Todos los estados</option>
            <option *ngFor="let status of taskStatuses" [value]="status">
                {{ status }}
            </option>
        </select>

    <!-- Filtro de búsqueda -->
    <form (submit)="searchTasks(0)" class="d-flex align-items-center gap-2 mb-3">
        <input type="text" [(ngModel)]="searchParams.title" name="title" class="form-control" placeholder="Buscar por título" />
        
        <select [(ngModel)]="searchParams.status" name="status" class="form-select">
            <option value="">Todos los estados</option>
            <option *ngFor="let status of taskStatuses" [value]="status">
                {{ status }}
            </option>
        </select>

        <select [(ngModel)]="searchParams.priority" name="priority" class="form-select">
            <option value="">Todas las prioridades</option>
            <option *ngFor="let priority of taskPriorities" [value]="priority">
                {{ priority }}
            </option>
        </select>
      
        <button type="submit" class="btn btn-primary">Buscar</button>
        <button type="button" class="btn btn-secondary" (click)="clearSearch()">Limpiar</button>
    </form>

    <!-- Lista de tareas -->
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Estado</th>
                <th>Prioridad</th>
                <th>Fecha de vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ task.dueDate | date }}</td>
                <td class="d-flex gap-1">
                    <button (click)="updateTask(task)" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal">Editar</button>
                    <button (click)="task.id ? deleteTask(task.id) : null" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Paginación y selección de elementos por página -->
    <div class="d-flex justify-content-between align-items-center mt-3">
        <div>
            <button (click)="prevPage()" [disabled]="currentPage === 0" class="btn btn-outline-primary me-2">Anterior</button>
            <span>{{ currentPage < 0 ? 0 : currentPage + 1 }} de {{ totalPages + 1 }}</span>
            <button (click)="nextPage()" [disabled]="(currentPage < 0 ? 0 : currentPage + 1) >= totalPages + 1" class="btn btn-outline-primary ms-2">Siguiente</button>
        </div>

        <div>
            <label for="itemsPerPage" class="form-label me-2">Tareas por página:</label>
            <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="loadTasks(0)" class="form-select">
                <option *ngFor="let number of [5, 10, 20, 50]" [value]="number">
                    {{ number }}
                </option>
            </select>
        </div>
    </div>
</div>