<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Gestión de Tareas</a>

		<!-- Nombre de usuario -->
		<span class="nav-username navbar-text text-white ms-auto">
			Bienvenido, {{ username }}
		</span>

		<!-- Botón de Cerrar Sesión -->
		<button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
	</div>
</nav>
<div class="container">
    <button (click)="preCreateTask()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#taskModal">
        Crear Nueva Tarea
    </button>

    <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskModalLabel">
                        {{ task.id ? 'Editar Tarea' : 'Crear Nueva Tarea' }}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
                        <div class="mb-3">
                            <label for="title" class="form-label">Título</label>
                            <input type="text" id="title" [(ngModel)]="task.title" name="title" class="form-control" required />
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Descripción</label>
                            <textarea id="description" [(ngModel)]="task.description" name="description" class="form-control" required></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="status" class="form-label">Estado</label>
                            <select id="status" [(ngModel)]="task.status" name="status" class="form-control" required>
                                <option *ngFor="let status of taskStatuses" [value]="status">
                                    {{ status }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="priority" class="form-label">Prioridad</label>
                            <select id="priority" [(ngModel)]="task.priority" name="priority" class="form-control"
                                    required>
                                <option *ngFor="let priority of taskPriorities" [value]="priority">
                                    {{ priority }}
                                </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="dueDate" class="form-label">Fecha de vencimiento</label>
                            <input type="date" id="dueDate" [(ngModel)]="task.dueDate" name="dueDate" class="form-control" required />
                        </div>

                        <button type="submit" class="btn btn-primary">
                            {{ task.id ? 'Actualizar Tarea' : 'Crear Tarea' }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="task-list mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Prioridad</th>
                    <th>Fecha de vencimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.dueDate | date }}</td>
                    <td>
						<button (click)="updateTask(task)" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#taskModal">Editar</button>
						<button (click)="task.id ? deleteTask(task.id) : null" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pagination mt-3">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0" class="btn btn-outline-primary me-2">
            Anterior
        </button>
        <span>{{ currentPage }} de {{ totalPages }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages" class="btn btn-outline-primary ms-2">
            Siguiente
        </button>
    </div>

    <div class="items-per-page mt-3">
        <label for="itemsPerPage" class="form-label">Tareas por página:</label>
        <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="loadTasks()" class="form-select">
            <option *ngFor="let number of [5, 10, 20, 50]" [value]="number">
                {{ number }}
            </option>
        </select>
    </div>
</div>