.nav-username {
	margin-right: 15px;
}

.custom-logout-link {
	color: indianred; /* Hereda el color de su contenedor, sin aplicar color de enlace */
	text-decoration: none; /* Elimina el subrayado */
}
